*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, h4{
    font-weight: 100;
    font-size: 0px;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
   

    header{
        height: 125px;
        width: 100% ;
        position: absolute;
        display: flex;
        justify-content: center;
        
        
        .center{
          
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                display: flex;
                li{
                    margin-left: 35px; 
                    cursor: pointer; 
                    color: white;
                } 
                li:hover{
                    color: #C99E71;

                }
                
              
            }
            
            .right{
                display: flex;
               li{
                margin-left: 35px;
                cursor: pointer;
                color: white;
               }
               li:hover{
                color: #C99E71;
                }
            }
        }
    }
    main{
        width: 100%;
        height: 800px;
        background-color: white;
        background-image: url('./image/1.png');
        background-size: cover;
        .center_main{
           display: flex;
           flex-direction: column;
           justify-content: center;
            .main_page{
                width: 60%;
                height: 454px;
                display: flex;
                .div_left{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 375px;
                    width: 80%;
                    h1{
                        font-size: 72px;
                        margin-top: 300px;
                        color: #ffff;
                    }
                    h2{
                        font-size: 20px;
                        color: #ffffff80;
                        margin-bottom: 64px;
                       
                
                    }
                    .a_f{
                        color: #ffff;
                        text-align: center;
                        padding: 24px 40px ;
                        max-width: 180px;
                        height: 52px;
                        font-size: 18px;
                        background-color: #F57520; 
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius:  15px;
                            
    
                    }
                }
            }
            
        }
        .first_sec{
            width: 100%;
            height: 276px;
            margin-top: 250px;
            .block_center{
                display: flex;
                
                .block_one{
                    width: 647px;
                    background-color: #101010;
                    height: 275px;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    border-radius:  0px 15px 15px 0px;
                    
                    .one{
                        color: #ffffff;
                        font-size: 24px;
                        margin-bottom: 20px;
                        margin-left: 270px;
                        
                        
                    }
                    a{
                        color: #F57520;
                        text-align: center;
                        max-width: 180px;
                        font-size: 16px;
                        margin-left: 270px;  
                    }
                }
                .block_two{
                    width: 427px;
                    height: 212px;
                    background-color: #131313;
                    display: flex;
                    align-items: center;
                    margin-top: 35px;
                    .two{
                        color: #ffffff;
                        font-size: 20px;
                        margin-left: 35px;
                    }
                }
                .block_three{
                    width: 727px;
                    height: 212px;
                    background-color: #2E2E2E;
                    display: flex;
                    align-items: center;
                    margin-top: 35px;
                    .three{
                        color: #ffffff;
                        font-size: 20px;
                        margin-left: 35px;
                    }
                }    
            }   
        }
        .second_sec{
            background-color: #ffffff;
            width: 100%;
            height: 206px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-left: 40px;
            }
            img:first-child{
                margin-left: 0px;
            }
        }
        .sec_welik{
            width: 100%;
            height: 806px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F8F8F8;
            .center_w{
                width: 80%;
                height: 75%;
                display: flex;
                align-items: center;
                justify-content: center;
                
             
                div{
                    margin-left: 50px;
                }

                    
                
                
                .welik_one{
                    width: 400px;
                    background-color: #ffffff;
                    position: relative;
                    .New{
                        color: black;
                        font-size: 64px;
                        background-color: #F8F8F8;
                        
                    
                    }
                    .item{
                        margin-top: 25px;
                        margin-left: 15px;
                    }
                    .flag{
                        position: absolute;
                        
                    }
                    .p_one{
                        position: absolute;
                        color: #F57520;
                        right: 9px;
                        top: 9px;
                    }
                    .words{
                        margin-left: 15px;
                    }
                    .cena{
                        color: #2E2E2E;
                        margin-top: 15px;
                        margin-left: 15px;
                    }

                    
                    
                }
                .welik_two{
                    width: 400px;
                    background-color: #ffffff;
                    position: relative;
                    .item{
                        margin-top: 25px;
                        margin-left: 15px;
                    }
                    .flag{
                        position: absolute;
                        
                    }
                    .p_two{
                        position: absolute;
                        color: #F57520;
                        right: 9px;
                        top: 9px;
                    }
                    .words{
                        margin-left: 15px;
                    }
                    .cena{
                        color: #2E2E2E;
                        margin-top: 15px;
                        margin-left: 15px;
                    }

                    
                    
                }
                .welik_three{
                    width: 400px;
                    background-color: #ffffff;
                    position: relative;
                    .item{
                        margin-top: 25px;
                        margin-left: 15px;
                    }
                    .flag{
                        position: absolute;
                        
                    }
                    .p_three{
                        position: absolute;
                        color: #F57520;
                        right: 9px;
                        top: 9px;
                    }
                    .words{
                        margin-left: 15px;
                    }
                    .cena{
                        color: #2E2E2E;
                        margin-top: 15px;
                        margin-left: 15px;
                    }

                    
                    
                }
                
            }
        }
        .sec_dives{
            height:  1230px;
            display: flex;
            align-items: center;
            justify-content: center;
            .cent_dives{
                width: 80%;
                height: 60%;
                p{
                    color: #131313;
                    font-size: 68px; 
                    margin-bottom:  80px;
                }
                .one_d1{
                    width: 1280px;
                    height: 300px;
                    background-image: url('./image/2.png');
                }
                .two_d2{
                    width: 400px;
                    height: 456px;
                    background-image: url('./image/2.0.png');
                }
                .three_d3{
                    width: 400px;
                    height: 190px;
                    background-image: url('./image/3.png');
                }
                .four_d4{
                    width: 400px;
                    height: 252px;
                    background-image: url('./image/4.png');
                }
                .five_d5{
                    width: 448px;
                    height: 203px;
                    background-image: url('./image/5.png');
                }
                .sixe_d6{
                    width: 449px;
                    height: 203px;
                    background-image: url('./image/6.png');
                }
            }
        }
    }
}